* {
    margin: 0;
    /*display: flex;*/
    font-family: "Times New Roman", sans-serif;
    font-size: 25px;
}

.wrap {
    display: flex;
}

.posts-box {
    border: 1px solid #777;

}

.single-post-box {
    margin-top: 50px;
    padding: 5px;
    border: 2px solid black;
    height: fit-content;
    width: 500px;
    transform: translateX(250px);
}