*{
    margin: 0;
}

button{
    border: 1px solid ;
    color: #444 ;
    background: white;
    border-radius: 30px;
    padding: 15px;
    transform: translateY(-55px);
}

span{
    font-weight: bold;
}